<div class="container">
    <form>
        <input type="number" hidden="true" ng-model="pregunta.id"/>
        Pregunta: <br/>
        <input type="text" ng-model="pregunta.pregunta"/><br/>
        Tipo de pregunta:<br/>
        <select ng-model="tipoPregunta.TipoPreguntaId" ng-options="candy.flavour for candy in candies">
        </select>
        <input type="number" ng-model="candy.cost"/><br/>
        Quantity:<br/>
        <input type="number" ng-model="candy.quantity"/>
        <br/><br/>
        <input type="submit" class="btn" ng-init="save = true" ng-click="cCtrl.action()"/>
    </form>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
        <th>Sabor</th>
        <th>Peso</th>
        <th>Cantidad</th>
        <th>Costo</th>
        <th>Opciones</th>
        </thead>
        <tbody ng-repeat="candy in candies">
        <tr>
            <td>{{candy.flavour}}</td>
            <td>{{candy.weight}}</td>
            <td>{{candy.cost}}</td>
            <td>{{candy.quantity}}</td>
            <td><button type="submit" ng-click="cCtrl.delete(candy.id)" class="btn btn-danger">X</button></td>
            <td><button type="submit" ng-click="cCtrl.edit(candy)" class="btn">Edit</button></td>
        </tr>
        </tbody>
    </table>
</div>
